<div class="mt-4">
    <h3>Thêm bài học  </h3>
    <form method="POST" action="/courses/lessons/store" id="create-form">
        <div class="form-group">
            <label for="name">Tên bài học </label>
            <input type="text" rules="required" class="form-control" id="name" name="name">
             <span class="form-message"></span>
        </div>

         <div class="form-group">
            <label for="description">Mô tả</label>
            <input type="text"  rules="required" class="form-control" id="description" name="description">
             <span class="form-message"></span>
        </div>

        <div class="form-group">
            <label for="videoId">VideoId</label>
            <input type="text"  rules="required" class="form-control" id="videoId" name="videoId">
             <span class="form-message"></span>
        </div>

        <div class="form-group">
            <label for="course">Khóa học </label>
            <input type="text" rules="required" class="form-control" id="course" name="course">
             <span class="form-message"></span>
        </div>

        <div class="form-group">
            <label for="author">tác giả</label>
            <input type="text" rules="required" class="form-control" id="author" name="author">
             <span class="form-message"></span>
        </div>

        
        
        <button type="submit" class="btn btn-primary">Thêm bài học</button>
    </form>
</div>

<script src="/js/loginFormvalidate.js"></script>

      <script>
        Validate('#create-form')
      </script>